<div class="jumbotron text-center">
    <h1>NYT Tech News</h1>
    <h2>Articles</h2>
</div>
<div class="nav">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="/">Homepage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="scrapeBtn" href="/scrape">Scrape Tech Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/saved">All Tech Articles</a>
        </li>
    </ul>
</div>

<div id="articles" data-id="{{this._id}}">
    {{#each saved}}
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title title" id="title-{{@index}}">{{title}}</h3>
                    <p class="card-text summary" id="summary-{{@index}}">{{summary}}</p>
                    <a class="card-text link" id="link-{{@index}}" target="_blank" href="{{link}}">{{link}}</a>

                    <div class="card-text">
                        <button data-id={{this._id}} class="btn btn-outline-info rmv-article">Remove Article</button>
                        <button data-id={{this._id}} class="btn btn-outline-warning comment-comment">Add Note</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>